video {
  width: 100%;
}

.video-container {
  max-height: 10rem;
  overflow-y: hidden;
  min-height: 10rem;
  border-radius: 5px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 5px 5px !important;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

.body {
  width: 90%;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lightgreen !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}
