<div class="w-100 d-flex flex-column align-items-center text-center">
  <h2 class="title">Microphone and camera check</h2>
  <div class="body">
    <div
      class="permission-request my-2 text-center w-100"
      *ngIf="!isPermissionGranted"
    >
      <h4 class="my-2 fw-bold">Before we started</h4>
      <p>We need access to your microphone and camera</p>
      <div class="w-100 text-center">
        <button class="btn btn-outline-secondary mt-4">Go back</button>
      </div>
    </div>

    <div
      class="prepare-screen d-flex flex-column align-items-centerjustify-content-center w-100"
      *ngIf="isPermissionGranted"
    >
      <div
        class="w-100 bg-black d-flex align-items-center video-container justify-content-center mt-2 position-relative"
      >
        <video
          [volume]="0"
          class="rounded"
          muted
          autoplay
          [srcObject]="localVideoStream"
          playsinline
        ></video>
        <div class="d-flex justify-content-center py-1 toolbar">
          <div class="d-flex align-items-center mx-2">
            <i
              class="las la-video mx-2 text-white"
              style="font-size: 1.3rem !important"
            ></i>
            <mat-slide-toggle
              (change)="stopVideo($event)"
              [checked]="!isTurnOffLocalVideo"
            ></mat-slide-toggle>
          </div>
          <div class="d-flex align-items-center mx-2">
            <i
              class="las la-microphone mx-2 text-white"
              style="font-size: 1.3rem !important"
            ></i>
            <mat-slide-toggle
              (change)="muteAudio($event)"
              [checked]="!isMuteLocalAudio"
            ></mat-slide-toggle>
          </div>
          <div class="d-flex align-items-center mx-2">
            <i
              (click)="switchCamera()"
              style="font-size: 1.3rem !important"
              class="las la-sync fs-1 text-white rounded-circle border-dark"
            ></i>
          </div>
        </div>
      </div>

      <div class="w-100 text-center d-flex justify-content-center">
        <button
          class="btn btn-info rounded-pill mt-4 proceed-btn d-flex align-items-center"
          (click)="submit()"
        >
          <i class="las la-video mx-2 text-white fs-2"></i>
          <p class="p-0 m-0 text-white">Join Call</p>
        </button>
      </div>
    </div>
  </div>
</div>
