<div class="wrapper d-flex flex-column align-items-center">
  <img src="assets/images/call-ended-bg.png" alt="" class="bg" />
  <img src="assets/icons/vpbank-logo.svg" alt="" class="logo" />
  <div class="call-ended-message text-center">
    <h4>Đã hoàn tất cuộc gọi</h4>
    <p>
      Quý khách vui lòng truy cập lại VPBank NEO để tiếp tục sử dụng dịch vụ.
    </p>
    <button class="btn btn-success">Mở app VPBank NEO</button>
  </div>
</div>
