.wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  max-width: 768px;
  .bg {
    width: 100%;
  }

  .logo {
    width: 10rem;
  }
}

.call-ended-message {

    padding: 2.5rem;
  h4 {
    color: #00b74f;
    font-weight: 400;
  }
  p{
    font-size: 1rem;
    font-weight: 600;
  }

  .btn {
    padding : 1rem;
    background-color: #01AD53;
    font-weight: 500;
  }
}
