<audio src="assets/ringback.wav" loop id="ringBackAudio" #ringBack></audio>
<ng-container *ngIf="isMediaDevicesReady">
  <div
    class="wrapper d-flex flex-column align-items-center justify-content-center"
    style="width: 100vw; height: 100vh; background-color: white"
  >
    <div class="content">
      <div class="call-screen d-flex flex-column align-items-center">
        <div class="timer text-light" *ngIf="callingTime">
          {{ callTimeCount }}
        </div>
        <div class="remote-video-container">
          <video
            playsinline
            autoplay
            [volume]="1"
            [srcObject]="remoteVideoStream"
            class="remoteVideo"
          ></video>
        </div>
        <div
          class="local-video-container d-flex flex-column align-items-center justify-content-center"
        >
          <video
            playsinline
            autoplay
            [volume]="0"
            muted
            [srcObject]="localVideoStream"
            class="localVideo"
          ></video>
        </div>

        <div
          class="waiting-screen-overlay d-flex align-items-center justify-content-center w-100 h-100"
          *ngIf="isShowWatingScreen"
        >
          <div
            class="d-flex align-items-center justify-content-center waiting-image"
          >
            <img
              src="assets/images/waiting-icon.png"
              alt=""
              class="position-relative"
            />
            <div class="circle" style="animation-delay: -1s"></div>
            <div class="circle" style="animation-delay: 0s"></div>
          </div>

          <div
            class="waiting-footer position-absolute w-100 d-flex flex-column align-items-center justify-content-center px-4"
          >
            <div class="waiting-text text-light mb-4">
              Đang kết nối tới chuyên viên...
            </div>
            <div class="waiting-ad w-100">
              <img src="assets/images/ad.png" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>
      <div class="controller d-flex align-items-center">
        <button
          class="btn microphone-toggler"
          [ngClass]="{ 'microphone-off': isMicMuted }"
          (click)="processCallAudio()"
        >
          <img
            [src]="
              isMicMuted
                ? 'assets/icons/microphone-off.svg'
                : 'assets/icons/microphone-on.svg'
            "
            alt=""
          />
        </button>
        <button class="btn camera-switcher">
          <img src="assets/icons/camera-switcher.svg" alt="" />
        </button>
        <button
          class="btn btn-danger text-light call btn-endcall rounded-pill"
          (click)="hangUpCall()"
        >
          Kết thúc
        </button>
      </div>
    </div>
    =
    <div
      class="pull-over-layer"
      [ngClass]="{ 'pull-over-opened': isOpenPullOverBox }"
    >
      <div class="pull-over-header d-flex align-items-center">
        <span class="mx-3 close-btn" (click)="isOpenPullOverBox = false"
          ><img src="assets/icons/close-icon.svg" alt=""
        /></span>
        <h4>
          {{
            pullOverFormType == "upgrade"
              ? "Giấy đề nghị nâng cấp gói EKYC"
              : "Nhập OTP"
          }}
        </h4>
      </div>

      <div class="upgrade-offer-form" *ngIf="pullOverFormType === 'upgrade'">
        <div class="form-content">
          <div [innerHTML]="sessionContract.content"></div>
        </div>
        <div class="form-footer">
          <p>
            By sending confirmation code to VPBank you agree to our
            <a href="">Terms and Conditions</a>
          </p>
          <div class="d-flex form-actions">
            <div
              class="btn w-50 decline-btn"
              (click)="setStatusContract(false)"
            >
              Từ chối
            </div>
            <div class="btn w-50 accept-btn" (click)="setStatusContract(true)">
              Đồng ý
            </div>
          </div>
        </div>
      </div>
      <div class="otp-input-form" *ngIf="pullOverFormType === 'OTP'">
        <app-otp-input
          class="w-100"
          (onOTPSuccess)="onOTPSuccess($event)"
        ></app-otp-input>
      </div>
    </div>
  </div>
  <div
    class="notification-overlay d-flex flex-column align-items-center justify-content-center"
    *ngIf="iShowNotification"
  >
    <div class="notification text-center">
      <h3 class="header">Thông báo</h3>
      <p>
        {{ notification }}
      </p>
      <div class="footer" (click)="endCalls()">OK</div>
    </div>
  </div>
</ng-container>
