$controller_height: 10rem;
$content-height: calc(95vh - $controller_height);

.wrapper {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  min-width: 360px;
  max-width: 768px;
  position: relative;
  background-color: #000;
}

.call-screen {
  height: $content-height;
  background-color: #000;
  position: relative;
  .timer {
    top: 1rem;
    z-index: 2;
    font-size: 1rem;
    position: absolute;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
  }
  .timer::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    left: -10px;
    top: 40%;
    background-color: #f00;
    border-radius: 50%;
    animation: 2s blink ease infinite;
  }
  video {
    width: 100%;
    object-fit: scale-down;
  }

  .local-video-container {
    height: 100%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
    video {
      transform: rotateY(180deg);
    }
  }

  .remote-video-container {
    width: 8rem;
    height: fit-content;
    top: 4rem;
    left: 70%;
    z-index: 2;
    position: absolute;
    video {
      border-radius: 0.5rem;
    }
  }
}

.controller {
  padding: 0 2rem;
  height: $controller_height;
  background-color: #000;
  .microphone-toggler,
  .camera-switcher {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    img {
      width: 1.5rem;
    }
  }
  .microphone-toggler {
    margin-right: 1.5rem;
    img {
      width: 1.25rem;
    }
  }
  .microphone-toggler.microphone-off {
    background-color: #d3d3d3;
  }

  .btn-endcall {
    margin-left: auto;
    height: 4rem;
    width: 8rem;
  }
}

.notification-overlay {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.45);
  backdrop-filter: blur(8px);
  .notification {
    width: 75%;
    min-height: 10rem;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
    .header {
      font-weight: 500;
    }
    p {
      padding: 1rem 2rem;
    }
    .footer {
      cursor: pointer;
      width: calc(100% - 1px);
      border-radius: 0 0 1rem 1rem;
      background-color: #f4f7f8;
      padding: 1.5rem;
      color: #01ad53;
      font-weight: 500;
    }
  }
}

.waiting-screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: $content-height !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88));
  opacity: 0.75;
  img {
    z-index: 999;
    width: 6rem;
  }
  .circle {
    border-radius: 50%;
    background-color: #34b95e;
    opacity: 0.1;
    width: 16rem;
    height: 16rem;
    position: absolute;
    opacity: 0;
    animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }

  .waiting-image {
    position: relative;
  }

  .waiting-image::after {
    position: absolute;
    content: "";
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #34b95e;
    opacity: 0.1;
    transform: scale(0.6, 0.6);
  }

  .waiting-footer {
    position: relative;
    bottom: 1.5rem;
  }

  .waiting-text {
    font-size: 0.85rem;
  }
}

.pull-over-layer {
  width: 100%;
  height: 80vh;
  max-width: 768px;
  bottom: -100%;
  position: absolute;
  background-color: #f4f7f8;
  transition: all 1s ease;
  .pull-over-header {
    background-color: #fff;
    padding: 0.5rem 0;
    height: 7%;
    .close-btn {
      cursor: pointer;
      position: absolute;
    }
    h4 {
      margin: 0 auto;
      font-weight: 500;
    }
  }
}

.pull-over-layer.pull-over-opened {
  bottom: 0;
}

.upgrade-offer-form,
.otp-input-form {
  position: relative;
  height: 93%;
  width: 100%;
}

.upgrade-offer-form {
  .form-content {
    max-height: 80%;
    overflow: scroll;
    padding: 2rem;
  }
  .form-footer {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    background-color: #fff;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    p {
      padding: 0 1rem;
      a {
        text-decoration: none;
        color: #01ad53;
      }
    }
  }
  .form-actions {
    border-top: 1px solid #dadee0;
    .btn {
      border-radius: 0;
      padding: 1.5rem;
      font-weight: bold;
    }
    .decline-btn {
      border-right: 1px solid #dadee0;
    }
    .accept-btn {
      color: #01ad53;
    }
  }
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.6, 0.6);
    opacity: 0.1;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
