.wrapper {
  width: 100vw;
  height: 100vh;
  min-width: 360px;
  max-width: 768px;
  padding: 1rem 0 1rem 1rem;
}

.header {
  .header-left-side {
    width: 50%;
    padding-bottom: 1rem;
    img {
      width: 70%;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.9rem;
      font-weight: 500;
      color: #8e989a;
    }
  }
  .header-right-side {
    width: 50%;
    img {
      width: 100%;
    }
  }
}

.body {
  padding: 0 1rem;
  h3 {
    font-weight: 600;
    width: 70%;
  }
  .notice {
    img {
      width: 100%;
    }
  }

  .attention {
    margin-top: 2rem;
    > div {
      h4 {
        margin: 0 0 5px 0.5rem;
        font-weight: 500;
      }
    }
    p {
      position: relative;
      margin-left: 2rem;
      font-weight: 500;
    }
    p::after {
      content: "";
      position: absolute;
      left: -1rem;
      top: 0.75rem;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
    }
  }

  .action {
    padding: 1rem 1rem 0 0;
    .btn.btn-success {
      padding: 1.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      background-color: #01ad53;
      margin-right: 1rem;
    }
  }
}
