<div class="wrapper">
  <div class="d-flex header">
    <div
      class="header-left-side d-flex flex-column justify-content-end text-center"
    >
      <img src="assets/icons/vpbank-logo.svg" alt="" />
      <p>Chào mừng quý khách đến với</p>
    </div>
    <div class="header-right-side">
      <img src="assets/images/notice-bg.png" alt="" />
    </div>
  </div>
  <div class="body">
    <h3>Hệ thống định danh và nâng cấp tài khoản của VPBank</h3>
    <div class="notice">
      <img src="assets/images/notice-2.png" alt="" />
    </div>
    <div class="attention">
      <div class="d-flex align-items-center">
        <img src="assets/icons/alert.svg" alt="" />
        <h4>Lưu ý</h4>
      </div>
      <p>
        Để thực hiện được cuộc gọi video, Quý khách cần cho phép ứng dụng truy
        cập Microphone và Camera.
      </p>
      <p>
        Trường hợp đã từ chối, vui lòng bấm "Thực hiện lại cuộc gọi" để cấp lại
        quyền truy cập."
      </p>
    </div>
    <div class="action">
      <button class="btn btn-success w-100" (click)="reCall()">Gọi lại</button>
    </div>
  </div>
</div>
