.wrapper {
  padding: 2rem;
  text-align: center;
  h4 {
    font-weight: 500;
  }
  button {
    border: none;
    font-weight: 500;
  }
  span {
    font-size: 0.75rem;
  }
}

::ng-deep .ngx-otp-input {
  background-color: transparent !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #b5bec1 !important;
  font-weight: 500 !important;
}

::ng-deep .ngx-otp-input:focus {
  border-color: #01ad53 !important;
}

::ng-deep .ngx-otp-input::placeholder {
  content: "*";
}

::ng-deep .otp-invalid .ngx-otp-input {
  border-color: #f00 !important;
}
