<div
  class="wrapper d-flex flex-column align-items-center justify-content-center"
>
  <h4>Nhập mã xác nhận đã được gửi qua số điện thoại ***12345</h4>
  <ngx-otp-input
    [config]="otpInputConfig"
    [ngClass]="{ 'otp-invalid': isOTPInvalid }"
    (otpChange)="otpOnChange($event)"
  ></ngx-otp-input>

  <button
    class="btn mt-4 mb-2"
    [disabled]="!isResendOTPAvailable"
    (click)="resendOTP()"
    [ngStyle]="{ color: isResendOTPAvailable ? '#01ad53' : '#7e8481' }"
  >
    Gửi lại mã OTP
  </button>
  <span>OTP hết hiệu lực sau {{ otpTimeOut }} giây</span>
</div>
